.navbar{
    display: flex;
padding-bottom:0 !important;
}
.menuList{
    color: rgb(107, 107, 107) ;
    padding: 19px 30px;
}

.menuList.active{
    color: #0a10c5 ;
    border-bottom: 2px solid #0a10c5;
}