.profile-layout {
  padding-top: 5px; // To push content below the navbar height
}

.profile-content {
  flex-grow: 1; // Take up the remaining space next to the sidebar
  padding: 20px;
  background-color: #f8f9fa; // Background color for content area
}

.d-flex {
  display: flex;
}

